
@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data
@using _4Bike.Models.ViewModels
<!--model IEnumerable<OrderView>-->
@model IEnumerable<AddBikesViewModel>
@if(Model.Any()){
<div class="product">
 @foreach (var item in Model)
   {<div class="row">
	<img src="@item.PicPath" class="col-lg-6" />
                         
                          
                          <div class="col-lg-6">
                              <p>@item.BikeName</p>
                          <p>@item.ManufacturerName</p>
                          </div> 
                          </div>
                          <div class="row">
	<img src="@item.PicPath" class="col-lg-6"/>
                         
                          
                          <div class="col-lg-6">
                              <p>@item.BikeName</p>
                          <p>@item.ManufacturerName</p>
                          </div> 
                          </div>
   }
   </div>
}