
@using _4Bike.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<_4Bike.Models.Products.Product_Bike>

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "List of Bike";
}


<div class="row">
    <div class="col-12 col-md-8 col-lg-10">
        <h5>The list of Bikes in the Database</h5>

        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>ManufacturerName</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BikeID</td>
                        <td>@item.BikeName</td>
                        <td>@item.BikePrice Kr</td>
                        <td>@item.BikePicNav</td>
                        <td>@item.Manufacturer.ManufacturerName</td>
                        @*<td>@item.ManufacturerName</td>*@


                        <td><a asp-action="EditBike" asp-route-id=@item.BikeID>Edit</a> </td> <td><a asp-action="DeleteBike" asp-route-id=@item.BikeID style="color:red">Delete</a></td>
                    </tr>
                }



            </tbody>
        </table>
    </div>

    <div class="col-12 col-md-4 col-lg-2">
    <partial name="/Views/Shared/SidebarPartial.cshtml" model="UserManager.GetUserName(User)" />
    </div>

</div>
