@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

    <div class="col-12 col-md-8 col-lg-10">
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="userViews()">Edit orders</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("ListBikes", "Bike" )'">List of Bikes</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("AddBike", "Bike" )'">Add product</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("Index", "Manufacturer" )'">List of Manufacturer</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("AddManufacturer", "Manufacturer" )'">Add Manufacturer</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("OrderingHistory","Home")'">History</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("EditUser", "Role" )'">Account</button>



        <h2>Manage your account</h2>

        @RenderBody()
    </div>

    <div class="col-12 col-md-4 col-lg-2"><partial name="/Views/Shared/SidebarPartial.cshtml" model="UserManager.GetUserName(User)" /></div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
