@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Manage your account</h2>

<div class="row">

    @*<div class="col-md-8">
            <h4>Change your account settings</h4>
            <hr />
            <div class="row">
                <div class="col">
                    <partial name="_ManageNav" />
                </div>
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>*@

    <div class="col-md-9 col-12">
        @RenderBody()
    </div>
    <div id="orders">

    </div>
    <div class="col-md-3 col-12 bg-light text-center">

        <div class="text-center">
            <i class="fas fa-user-circle fa-9x text-secondary"></i>

            <p>Welcome, @UserManager.GetUserName(User)!</p>
        </div>


        <nav class="flex-column">
            <button type="button" style="margin-bottom: 20px; margin-top: 50px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("AddUserToRole", "Role" )'">Roles</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="userViews()">Edit orders</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("ListBikes", "Bike" )'">List of Bikes</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("AddBike", "Bike" )'">Add product</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("Index", "Manufacturer" )'">List of Manufacturer</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("AddManufacturer", "Manufacturer" )'">Add Manufacturer</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("OrderingHistory","Home")'">History</button>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href = '@Url.Action("EditUser", "Role" )'">Account</button>



            @*<form id="logoutForm" class="form-inline" action="/Identity/Account/Logout?returnUrl=%2F" method="post">

            <button id="logout" class="btn btn-outline-secondary btn-lg btn-block" type="submit">Logout</button>

            <input name="__RequestVerificationToken" type="hidden" value="">
        </form>*@


        </nav>

    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
