@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data
@using _4Bike.Models.ViewModels
<!--model IEnumerable<OrderView>-->
@model IEnumerable<ShopingcartView>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

                      <div class="text-center">
                          <h1 class="display-4">Welcome</h1>
                          <p>@ViewBag.Mes </p>
                         <!-- foreach (var item in Model)
   {
                          <p>item.BikeName</p>
                          <p>item.Price</p>
                          <p>item.OrderDate</p>
                          <p>item.Quantity</p>
   }-->
   @foreach (var item in Model)
   {
                          <p>@item.BikeName</p>
                          <p>@item.Price</p>
                          <p>@item.ManufacturerName</p>
                          <p>@item.Quantity</p>
                          <p>@item.TotalPrice</p>
                          <img src="@item.PicPath" />
   }
                          <h3>@Model.Sum(x => x.TotalPrice)</h3>
                          @using (Html.BeginForm("AddToShopingKart", "Home", FormMethod.Post)){
                          <input type="number" name="bID" placeholder="bike">
                          <input type="submit" value="add to shoping kart">
                          }
                          @using (Html.BeginForm("AddOrder", "Home", FormMethod.Post)){
                          <input type="submit" value="addorder">
                          }
                          @using (Html.BeginForm("RemoveFromShopingKart", "Home", FormMethod.Post)){
                              <input type="number" name="bID" placeholder="bike">
                          <input type="submit" value="delet kart thing">
                          }

                          <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                      </div>
