@using Microsoft.AspNetCore.Identity
@using _4Bike.Areas.Identity.Data
@using _4Bike.Models.ViewModels
<!--model IEnumerable<OrderView>-->
@model IEnumerable<ShopingcartView>

    @inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    
@{
    ViewData["Title"] = "ShopingKart";
}

<h1>ShopingKart</h1>
<div class="container">
 @foreach (var item in Model)
   {
                               
                          <div class="row">
                          <img src="/@item.PicPath" width="150px"/>
                         
                          
                          <div class="col-lg-2">
                              <p>@item.BikeName</p>
                          <p>@item.ManufacturerName</p>
                          </div>                        
                      
                      <p class="col-lg-2"  style="padding:0px">@item.Quantity * @item.Price Kr</p>
                          <h3 class="col-lg-2" style="padding:0px">@item.TotalPrice Kr</h3>
                          <button class="btn btn-link text-dark" onclick="location.href='@Url.Action("RemoveFromShopingKart","Home",new{bID = item.BikeID})'"><i class="fa-regular fa-x"></i></button>
                          
                      </div>
                      <hr />
                      
   }
   <hr />
   <h4>Total:</h4>
   <h2>@Model.Sum(x => x.TotalPrice) Kr</h2>
   @if (SignInManager.IsSignedIn(User))
    {
        <button type="button" onclick="location.href='@Url.Action("AddOrder","Home")'" class="btn btn-success">Order</button>
    }
    else
    {
        <p>You must login to to make a purtches</p>
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>